<h1> Welcome </h1>

<p>Hello <%= @user_email %></p>


<h2>See your importation processes list</h2>

<p>
You have <%= @contacts_count %> contacts.
</p>

<h2>See your imported contacts list</h2>

<p>
You have <%= @importation_processes_count %> CSV imports.
</p>
